@font-face {
    font-family: 'Raleway Bold';
    src: url(./Fonts/RalewayFont/RalewayFont/Raleway-Bold.woff) format('woff'),
        url(./Fonts/RalewayFont/RalewayFont/Raleway-Bold.ttf) format('ttf');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url(./Fonts/RalewayFont/RalewayFont/Raleway-Regular.woff) format('woff'),
        url(./Fonts/RalewayFont/RalewayFont/Raleway-Regular.ttf) format('ttf');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway Light';
    src: url(./Fonts/RalewayFont/RalewayFont/Raleway-Light.woff) format('woff'),
        url(./Fonts/RalewayFont/RalewayFont/Raleway-Light.ttf) format('ttf');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'Dela Gothic One';
    src: url(./Fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff2) format('woff2'),
        url(./Fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.woff) format('woff'),
        url(./Fonts/DelaGothicOne/DelaGothicOne/DelaGothicOne-Regular.ttf) format('ttf');
    font-weight: 400;
    font-display: fallback;
}

%rw-bold{
    font-family: 'Raleway Bold';
    font-weight: 700;
    font-style: normal;
}

%rw-regular{
    font-family: 'Raleway Regular';
    font-weight: 400;
    font-style: normal;
}

%rw-light{
    font-family: 'Raleway Light';
    font-weight: 300;
    font-style: normal;
}

%dgo-regular{
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-style: normal;
}



body{
    margin: 0;
    padding: 0;
    @extend %rw-light;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    color: #000;
    position: relative;
}

.nav-mobile{
    display: none;
}

.container{
    width: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

select{
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: inherit;
    line-height: inherit;
}

.select{
    appearance: none;
    background-image: url(./img/selector-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

ul, p, h1, h2, h3, h4, h5, h6{
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.header{
    padding: 25px 80px;
    justify-content: space-between;
    @extend %rw-regular;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    position: relative;
}

.nav__item{
    display: inline-block;
    margin-right: 30px;
}

.nav__link:hover{
    @extend %rw-bold;
    color: #DA1F39;
}

.header__logo{
    width: 184px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__settings__item{
    display: inline-block;
    margin-left: 20px;
}

.header__settings__select{
    background-image: url(./img/selector-arrow.svg);
}

.header__language{
    width: 36px;
}

.header__currency{
    width: 25px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,  'Segoe UI Symbol';
    font-size: 16px;
    line-height: 20px;
}

.btn__icon{
    background: none;
    border: none;
    width: 25px;
    height: 25px;
}

.btn__svg{
    width: 21px;
    height: 21px;
}

.header__pop-up{
    display: none;
}

.nav__item_active{
    .header__pop-up{
        width: 100%;
        box-sizing: border-box;
        padding: 70px 80px 57px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
    }   
}

.header__pop-up__img{
    align-self: flex-end;
}

.categories{
    position: relative;
}

.categories__item{
    align-items: flex-start;
}

.categories__link{
    @extend %dgo-regular;
    font-size: 18px;
    line-height: 26px;
    color: #9A9A9A;
    margin-bottom: 25px;
    min-width: 150px;
    display: block;
}

.categories__expand__item{
    @extend %rw-light;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding-bottom: 18px;
}

.categories__expand__item:hover a{
    @extend %rw-bold;
    color: #DA1F39;
}

.categories__expand{
    display: none;
}

.categories__item_active, .categories__item:hover{
    .categories__link{
        color: #000;
    }

    .categories__expand{
        display: grid;
        grid-template-columns: repeat(3, minmax(185px, 1fr));
        padding: 0px 70px;
        width: 50vw;
        position: absolute;
        top: 0;
        left: 150px;
    }
}

.breadcrumb {
    padding: 0px 80px;
    list-style: none;
}
  
.breadcrumb li {
  display: inline;
  @extend %rw-light;
  font-size: 12px;
  line-height: 166.4%;
}
  
.breadcrumb li+li:before {
  padding: 5px;
  color: black;
  content: "\2014";
}

.breadcrumb li a {
  color: inherit;
  @extend %rw-bold;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #DA1F39;
}

.cart-pop-up{
    display: none;
}

.cart_active{
    .cart-pop-up{
        display: block;
        background-color: #EFEFEF;
        box-shadow: 6px 6px 10px rgba(179, 179, 179, 0.25), 4px 4px 8px rgba(135, 135, 135, 0.25);
        padding: 40px;
        position: absolute;
        top: 77px;
        right: 80px;
    }
}

.arrow-done{
    padding-right: 12px;
    width: 15.14px;
    height: 11.95px;
}

.paragraph{
    @extend %rw-light;
    font-size: 12px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-left: 20px;
        &_bold{
            @extend %rw-bold;                
            line-height: 123%;                
        }
}

.cart-pop-up__{
    &title{        
        display: inline-block;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        &_bold{
            @extend %rw-bold;
            display: flex;
            justify-content: space-between;
        }
    }

    &main{
        display: flex;
        margin: 30px 0px;
    }

    &img{
        width: 129px;
        height: 150px;
    }

    &description{        
        margin-left: 20px;
        max-width: 210px;
    }

    &characteristics{
        display: flex;
        margin: 20px 0px 10px;
    }

    &labels{
        margin-right: 44px;
    }

    &characteristics li{
        margin-bottom: 5px;
    }

    &button{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 50px;
        background: #DA1F39;
        border: none;

        a{
            color: inherit;
        }
    }
}

.select_size{
    min-width: 65px;
}

.select_amount{
    min-width: 25px;
}

.cart__close {
    position: absolute;
    right: 40px;
    top: 96px;
    width: 16px;
    height: 16px;
}
  
.cart__close:before, .cart__close:after {
  position: absolute;
  right: 10px;
  content: ' ';
  height: 16px;
  width: 1px;
  background-color: #565656;
}

.cart__close:before {
  transform: rotate(45deg);
}

.cart__close:after {
  transform: rotate(-45deg);
}

.cart-pop-up__{
    &cta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    &link{
        @extend %rw-bold;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        padding-bottom: 1px;
        border-bottom: 2px solid #000;
    }
}




@media screen and (max-width: 1150px){
    .tel_desktop{
        display: none;
    }

    .categories__item_active, .categories__item:hover{
        .categories__expand{
            grid-template-columns: repeat(2, minmax(185px, 1fr));
        }
    }
}

@media screen and (max-width: 1000px){
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    .header{
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 8px 10px;
    }

    .nav-mobile__burger{
        display: flex;
        width: 20px;
        height: 9px;
    }

    .nav-mobile__expand{
        background-color: #fff;
        width: 85vw;
        padding: 10px 20px 30px 10px;
        display: none;
    }

    .nav-mobile__burger_active{
        .nav-mobile__expand{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .close {
        position: absolute;
        left: 10px;
        top: 15px;
        width: 15px;
        height: 15px;
    }
      
    .close:before, .close:after {
      position: absolute;
      left: 10px;
      content: ' ';
      height: 15px;
      width: 1px;
      background-color: #000;
    }
    
    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }

    .nav__item{
        display: block;
        margin-bottom: 30px;
    }

    .nav__link:hover{
        font-family: 'Dela Gothic One';
        font-weight: 400;
    }

    .nav-mobile__arrow{
        display: inline-block;
        width: 19px;
        height: 10px;
        padding-left: 13px;
    }

    #nav-mobile-arrow{
        stroke: #000;
    }

    .nav-mobile__selector{
        font-family: 'Raleway Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .selector-group{
        display: flex;
        align-items: center;
    }

    .selector-group__item{
        background: none;
        border: none;
        margin-left: 25px;
    }

    .selector-group__item_active{
        font-family: 'Raleway Bold';
        font-weight: 700;

        .selector-group__uah{
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
        }
    }

    .selector-group__uah{
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 17px;
    }

    .nav__link:hover{
        color: #DA1F39;
    }

    .nav__link:hover #nav-mobile-arrow{
        stroke: #DA1F39 !important;
    }

    .categories{
        display: none;
    }
    
    .nav__item_active{
        .nav__link_expand{
        color: #DA1F39;
        }

        #nav-mobile-arrow{
            stroke: #DA1F39 !important;
        }

        .categories{
            display: block;
            padding: 20px 0px;
        }

        .nav-mobile__arrow{
            transform: rotate(180deg);
        }

        .nav__link_expand{
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        ~ li{
            display: none;
        }
    }

    .categories__link{
        font-size: 14px;
        line-height: 20px;
    }

    .categories__item_active, .categories__item:hover{
        .categories__expand{
            display: block;
            width: 100%;
            position: static;
            padding-left: 20px;
        }

        .categories__expand__item{
            padding-bottom: 15px;
            text-transform: none;
        }
    }
}

@media screen and (max-width: 605px){     
    .header__logo{
        width: 95px;
        height: 25px;
    }
    
    .cart_active 
        .cart-pop-up {
            right: 5px;
            padding: 5px;
        }

    .cart-pop-up__cta {
        flex-direction: column;
    }

    .cart-pop-up__button {
        font-size: 14px;
        line-height: 17px;
        padding: 15px 20px;
    }

    .cart__close{
        top: 40px;
        right: 5px;
    }
}

@media screen and (max-width: 470px){  
    .nav-mobile__expand{
        width: 80vw;
    }

    .nav__item_active .categories {
        padding: 20px 0px 0px;
    }

    .selector-group__item{
        margin-left: 10px;
    }

    .breadcrumb{
        padding: 0px 15px;
    }
}

@media screen and (max-width: 360px){
    span.selector-group__item{
        display: none;
    }

    .nav-mobile__selector{
        flex-direction: column;
    }

    .selector-group__currency > button{
        padding-left: 10px;
        padding-right: 10px;
    }

    .breadcrumb{
        display: none;
    }

    .cart-pop-up__img {
        display: none;
    }
}